/* MOBILE */
@media (max-width: 900px) {
  .nav-links {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  #hero {
    flex-direction: column;
    text-align: center;
    padding-top: 10rem;
  }

  .hero-content {
    max-width: 100%;
  }

  .hero-img img {
    width: 260px;
    margin-top: 2rem;
  }

  .about-container {
    flex-direction: column;
  }

  .about-image img {
    width: 300px;
  }
}
